<configuration>
    <!-- log type -->
    <property name="LOG_TYPE" value="FILE"/>
    <property name="LOG_HOME_ACCESS" value="logs/access"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[请求]%n%fullRequest%n[响应]%n%fullResponse</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME_ACCESS}/lsbackend-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME_ACCESS}/lsbackend-access.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>[请求]%n%fullRequest%n[响应]%n%fullResponse</pattern>
        </encoder>
    </appender>

    <appender-ref ref="${LOG_TYPE}"/>

</configuration>