<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h4">liusha</h1>
            <p>职务:developer</p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li class="active"><a href="index.html"> <i class="icon-home"></i>Home</a></li>
        <li><a href="#white_test" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>白盒测试</a>
            <ul id="white_test" class="collapse list-unstyled ">
                <li id="charts"><a href="tables.html">服务器</a></li>
                <li id="forms"><a href="charts.html">CPU</a></li>
                <li id="tables"><a href="forms.html">内存</a></li>
            </ul>
        </li>
        <li><a href="#black_test" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>黑盒测试</a>
            <ul id="black_test" class="collapse list-unstyled ">
                <li><a href="a.html">服务器</a></li>
                <li><a href="b.html">CPU</a></li>
                <li><a href="c.html">内存</a></li>
            </ul>
        </li>
        <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i
                class="icon-padnote"></i>应用配置</a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="d.html">服务器</a></li>
                <li><a href="e.html">CPU</a></li>
                <li><a href="f.html">内存</a></li>
            </ul>
        </li>
        <li><a href="g.html"> <i class="fa fa-bar-chart"></i>统计</a></li>
        <!--<li><a href="forms.html"> <i class="icon-padnote"></i>Forms </a></li>-->
        <li><a href="login.html"> <i class="icon-grid"></i>Login page </a></li>
    </ul>
    <span class="heading">Extras</span>
    <ul class="list-unstyled">
        <li><a href="h.html"> <i class="icon-flask"></i>Demo </a></li>
        <li><a href="i.html"> <i class="icon-screen"></i>Demo </a></li>
        <li><a href="j.html"> <i class="icon-mail"></i>Demo </a></li>
        <li><a href="k.html"> <i class="icon-picture"></i>Demo </a></li>
    </ul>
</nav>